parameters:
  level: 9
  tmpDir: ./tests/tmp
  paths:
    - src
    - tests/phpunit/src
  ignoreErrors:
    -
      message: '#Call to an undefined method .*(children|addDefaultsIfNotSet|arrayPrototype)#'
      paths: 
        - src/MultiSchema.php
        - tests/phpunit/src/TestSchema.php
        - tests/phpunit/src/TestSchema2.php
        - tests/phpunit/src/TestUnnamedSchema.php

